# Windows image file caches
Thumbs.db
ehthumbs.db

todo.txt
filemanager/filemanager.php
filemanager/action.php
filemanager/icn/
filemanager/cgi/
filemanager/js/codeedit.js
filemanager/js/codeview.js
filemanager/js/syntax.js
filemanager/ext/flashreplace/
filemanager/ext/flvplayer/
filemanager/ext/jupload/
filemanager/ext/niftyplayer/
filemanager/ext/filedrop/
monaco-editor/dev

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.prj

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.html
